@for $i from 1 through length($base--size-mnemonics) {
  .p--top-#{nth($base--size-mnemonics, $i)} {
    $pd: $i * $base--padding-size-scale;
    padding-top: #{$pd}em;
  }
  .p--bottom-#{nth($base--size-mnemonics, $i)} {
    $pd: $i * $base--padding-size-scale;
    padding-bottom: #{$pd}em;
  }
}
