.l--spinner {
  @include animation(rotate 2s linear infinite);
  z-index:  2;
  position: absolute;
  width:    $spinner-size;
  height:   $spinner-size;

  circle {
    @include animation(dash 1.5s ease-in-out infinite);
    stroke:         $spinner-stroke-color;
    stroke-linecap: round;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray:  1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray:  90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray:  90, 150;
    stroke-dashoffset: -124;
  }
}
