.vagrant/
vendor/
.idea
etc/log/*
!etc/log/.gitkeep
etc/tmp/*
!etc/tmp/.gitkeep
node_modules
.sass-cache
html/assets/css/*.min.css
html/assets/css/*.min.css.map
html/assets/js/*.min.js
html/assets/js/*.min.js.map
html/assets/image/*
!html/assets/image/.gitkeep
package-lock.json
composer.lock
data/
