.vagrant/
vendor/
.idea
etc/log/*
!etc/log/.gitkeep
etc/tmp/*
!etc/tmp/.gitkeep
node_modules
.sass-cache
public/assets/css/*.min.css
public/assets/css/*.min.css.map
public/assets/js/*.min.js
public/assets/js/*.min.js.map
public/assets/font/*
!public/assets/font/.gitkeep
public/assets/image/*
!public/assets/image/.gitkeep
public/assets/css/scss/_icons/*
!public/assets/css/scss/_icons/.gitkeep
package-lock.json
composer.lock
