@for $i from 1 through length($base--size-mnemonics) {
  .m--top-#{nth($base--size-mnemonics, $i)} {
    $pd: $i * $base--margin-size-scale;
    margin-top: #{$pd}em;
  }
  .m--bottom-#{nth($base--size-mnemonics, $i)} {
    $pd: $i * $base--margin-size-scale;
    margin-bottom: #{$pd}em;
  }
}
