
.icon--home:before { content: '\e800'; } /* '' */
.icon--cog:before { content: '\e801'; } /* '' */
.icon--user:before { content: '\e802'; } /* '' */
.icon--cancel:before { content: '\e818'; } /* '' */
.icon--menu:before { content: '\f0c9'; } /* '' */
.icon--download-cloud:before { content: '\f0ed'; } /* '' */
.icon--doc-text:before { content: '\f0f6'; } /* '' */
.icon--apple:before { content: '\f179'; } /* '' */
.icon--git:before { content: '\f1d3'; } /* '' */