@mixin transition($string: $base--transition) {
  -webkit-transition: $string;
  -moz-transition:    $string;
  -ms-transition:     $string;
  -o-transition:      $string;
  transition:         $string;
}
